/* test  */
/* body {
  background-color: red;
} */
main {

}

article.contextual-region {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;

}
span.quickedit-field {
  /* display: block; */
  flex-direction: column;
}
